<!DOCTYPE html>
<html>
  <head>
    <script src="angular/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Book Details Database</h1>
    </div>
    <div class="nav-bar">
      <a href="index.html">Home </a>
      <a href="insert.html">Insert</a>
      <a href="update.html">Update</a>
      <a href="search.html">Search</a>
      <a href="delete.html">Delete</a>
      <a href="display.html">Display</a>
    </div>
    <div ng-app="search" ng-controller="searchController">
      <form ng-submit="send()" ng-init="init()">
        <h2>Search Details</h2>
        <select ng-model="data.option" class="form_1">
          <option value="title" selected>Title</option>
          <option value="isbn">ISBN</option>
          <option value="author">Author</option>
        </select>
        <p>
          <span ng-if="data.option == 'isbn'" class="form_1"> ISBN</span>
          <span ng-if="data.option == 'author'" class="form_1"> Author</span>
          <span ng-if="data.option == 'title'" class="form_1"> Title</span>
          <br />
          <input type="text" ng-model="data.value" required />
        </p>
        <p><input type="submit" value="Search" ng-click="Submit" /></p>
      </form>
      <div class="display">
        <p ng-if="nums">
          <span class="records"> <br /><br />No entry found</span>
        </p>
        <table ng-if="fill">
          <caption>
            Records
          </caption>
          <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
          </tr>
          <tr ng-repeat="entry in response.data | orderBy:'title'">
            <td>{{entry.title}}</td>
            <td>{{entry.isbn}}</td>
            <td>{{entry.author}}</td>
          </tr>
        </table>
        <br />
      </div>
    </div>
    <script>
      var app = angular.module("search", []);
      app.controller("searchController", function ($scope, $http) {
        $scope.data = {};
        $scope.response = {};
        $scope.fill = false;
        $scope.nums = false;

        $scope.send = function () {
          var post = $http({
            method: "post",
            url: "search_post",
            data: $scope.data,
          }).then(
            function (response) {
              $scope.response.data = response.data;
              console.log(response.data.length, response.data);
              if (response.data.length > 0) {
                $scope.fill = true;
                $scope.nums = false;
              } else {
                $scope.nums = true;
                $scope.fill = false;
              }
            },
            function (error) {
              console.log(error);
            }
          );
        };
        $scope.init = function () {
          $scope.data.option = "title";
          $scope.fill = false;
          $scope.nums = false;
        };
      });
    </script>
  </body>
</html>
